# Ignore compiled files
*.class
*.o
*.pyc

# Ignore dependencies
/node_modules
/.venv

# Ignore IDE and editor files
/.vscode
/.idea
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
/logs
/tmp

# Ignore sensitive or personal information
secrets.txt
config.ini

# Ignore local files that keep getting overwritten
/chrome-headless-shell-linux64

